#! /bin/bash
ifconfig {{ item.name }} {{ hostvars[inventory_hostname]['mtinc-' + item.name + '-ip'] | ipv4('address') }} netmask {{ hostvars[inventory_hostname]['mtinc-' + item.name + '-ip'] | ipv4('netmask') }} up
{% if hostvars[inventory_hostname]['mtinc-' + item.name + '-additional-route'] is defined -%}
{% for route in hostvars[inventory_hostname]['mtinc-' + item.name + '-additional-route'] -%}
route add -net {{ route.net }} gw {{ route.gw }}
{% endfor %}
{% endif %}
