# {{ ansible_managed }}

Name={{ item.name }}_{{ mtinc_hostname }}
Device=/dev/net/tun
Interface={{ item.name }}
TunnelServer={{mtinc_option_tunnel_server}}
{% for host in groups['tinc-' + item.name] -%}
{% if host != inventory_hostname -%}
ConnectTo={{ item.name }}_{{ hostvars[host]['mtinc_hostname'] | default(hostvars[host]['ansible_hostname'] | replace('-', '_') | replace('.', '_')) }}
{% endif %}
{% endfor %}
